.app {
    display: flex;
    flex-direction: column;

    .itemWrap {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: .2rem;

        &::-webkit-scrollbar {
            display: none;
        }

        &::selection {
            background: none;
        }

        &::-moz-selection {
            background: none;
        }

        &::-webkit-selection {
            background: none;
        }

        .content {
            padding-top: .4rem;
            // height: 100%;
            // overflow: auto;
            box-sizing: border-box;

            &::-webkit-scrollbar {
                display: none;
            }

            &::selection {
                background: none;
            }

            &::-moz-selection {
                background: none;
            }

            &::-webkit-selection {
                background: none;
            }

            .contextBox {
                box-sizing: border-box;
                padding: 0 .24rem 0 .26rem;
                margin-bottom: .27rem;

                .head {
                    width: .9rem;
                    height: .9rem;
                    border-radius: 50%;
                    background: #000;
                    display: inline-block;
                    vertical-align: top;
                    background-size: cover;
                    background-position: center;
                }



                .textBox {
                    box-sizing: border-box;
                    padding: .29rem .3rem;
                    background: #fff;
                    border-radius: .18rem;
                    min-height: .86rem;
                    display: inline-block;
                    max-width: 5rem;
                    vertical-align: top;
                    position: relative;

                    .jiantouLeft {
                        position: absolute;
                        width: 0;
                        height: 0;
                        border: .15rem solid transparent;
                        border-right: .15rem solid #fff;
                        left: -.3rem;
                        top: .3rem;
                    }

                    .text {
                        color: #333333;
                        font-size: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: .18rem;
                        }

                        span {
                            font-size: .30rem;
                        }

                        .yColor {
                            color: #ffc02b;
                            font-size: .26rem;
                            font-weight: bold;
                        }

                        audio {
                            visibility: hidden;
                            height: .01rem;
                            width: 2.5rem;
                        }

                        .video {
                            width: 100%;
                            border-radius: .15rem;
                        }

                        .audioTime {
                            font-size: .33rem;
                            position: absolute;
                            left: .55rem;
                            top: 50%;
                            transform: translateY(-50%);
                            // color:red;
                        }
                    }


                }

            }

            .myContentBox {
                &::after {
                    content: "";
                    height: 0;
                    line-height: 0;
                    clear: both;
                    visibility: hidden;
                    display: block;
                }

                .myhead {
                    float: right;
                    margin-left: .27rem;
                    background-position: center;
                    background-size: cover;
                }

                .mytextBox {
                    float: right;
                    background: #7de8f2;

                    .jiantouRight {
                        border-right: 0;
                        border-left: .15rem solid transparent;
                        left: 0 !important;
                    }

                    .pScorce {
                        color: #ffc02b;
                        font-size: .22rem;
                        position: absolute;
                        bottom: -.27rem;
                        left: 0;
                    }
                }

                .mySendImg {
                    padding: 0;
                }

            }

        }

        .talkTime {
            box-sizing: border-box;
            padding: .1rem .2rem;
            // background: #242424;
            border-radius: .2rem;
            display: table;
            // margin: .2rem auto;
            position: relative;
            left: 1.2rem;

            .date {
                color: #6a6a6a;
                font-size: .22rem;
            }
        }

        .mytalkTime {
            box-sizing: border-box;
            padding: .1rem .2rem;
            // background: #242424;
            border-radius: .2rem;
            display: table;
            // margin: .2rem auto;
            position: relative;
            left: 4.6rem;

            .date {
                color: #6a6a6a;
                font-size: .22rem;
            }
        }

    }

    footer {
        width: 100%;
        background: #333;
        height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        .huashu {
            width: 100%;
            height: 5rem;
            position: absolute;
            top: -5rem;
            background: #ffff;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            display: none;

            .huashu_textWrap {
                flex: 1;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                &::selection {
                    background: none;
                }

                &::-moz-selection {
                    background: none;
                }

                &::-webkit-selection {
                    background: none;
                }

                .huashu_text {
                    text-align: center;
                    height: .6rem;
                    border-bottom: 0.02rem solid #ccc;
                    font-size: .24rem;
                    line-height: .6rem;
                }
            }

            .cancel {
                width: 100%;
                height: .66rem;
                font-size: .33rem;
                color: #999999;
                text-align: center;
                // position: absolute;
                // bottom: 0;
                border-top-left-radius: .1rem;
                border-top-right-radius: .1rem;
                line-height: 2;
                box-shadow: 0 -.01rem .02rem .01rem #999;
            }
        }

        .inputBox {
            width: 6.94rem;
            height: .86rem;
            border-radius: .43rem;
            background: #5b5b5b;
            position: relative;
            left: 50%;
            margin-left: -3.47rem;
            overflow: hidden;

            .input {
                width: 75%;
                height: .55rem;
                position: absolute;
                top: 50%;
                left: .20rem;
                margin-top: -.35rem;
                border-radius: .43rem;
                background: #5b5b5b;
                outline: none;
                border: 0;
                color: #fff;
                font-size: .35rem;

                &::-webkit-input-placeholder {
                    color: #fff;
                }
            }

            .sendmsgbox {
                width: .42rem;
                height: .42rem;
                padding: .2rem;
                position: absolute;
                right: .33rem;

                .sendmsg {
                    width: .42rem;
                    height: .42rem;
                    background: url(../img/seng.png)no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 50%;
                    margin-top: -.21rem;

                }
            }
        }

        .fileBox {
            font-size: .33rem;
            display: flex;
            justify-content: space-around;
            color: #fff;
            flex: 1;
            align-items: center;

            div {
                display: flex;
                align-items: center;
                width: 50%;
                height: 100%;
                justify-content: center;
            }

            .checkImg {
                position: relative;

                .inputFile {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
        }
    }

    .bigImg {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(10, 10, 15, .5);
        z-index: 1001;
        display: none;
    }

    .showScorce {
        position: absolute;
        font-size: .28rem;
        color: #333;
        top: 0%;
        background: #999;
        right: 0;
        /* width: 2rem; */
        line-height: .9rem;
        height: .9rem;
        border-radius: .2rem;
        text-align: center;
        z-index: 99999;
        /* width: .3rem;*/
    }
}